@use 'var' as *;
@use 'mixins' as *;

@font-face {
    font-family: $font-family;
    font-display: swap;
    src: url('../assets/fonts/#{$font-family}.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    font-size: $font-size;
    color: $text-color-primary;
    line-height: $line-height;
}

body {
    margin: 0;
    background-color: $body-bg-primary;
}

div#root {
    min-height: 100dvh;
    @include flex(stretch, center, null, column);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 20px 0;
}

p {
    margin: 0;
}

@each $tag, $fs in $fs-tags {
    #{$tag} {
        font-size: $fs;
    }
}

ol,
ul {
    padding: 0;
    list-style-position: inside;
}

fieldset,
figure {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    background: none;
    color: $text-color-primary;
    border: none;
    outline: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
