@use 'partials/var' as *;
@use 'partials/media' as *;
@use 'partials/reset' as *;
@use 'partials/predefined' as *;

header {
    background-color: $body-bg-secondary;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100px;

    nav.menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
        color: rgba($text-color-primary, 0.5);
        cursor: pointer;

        &.current {
            color: $primary-text;
            cursor: auto;
        }
    }
}

footer {
    height: 75px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: calc(100dvh - 100px - 75px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

section.items-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    // outline: red 1px solid;
    flex: 0 0 300px;

    @media screen and (max-height: 900px){
        flex: 0 0 500px;
    }

    aside.items-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 20px 0;
    }

    button {
        flex: 0 0 33.333%;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &.selected {
            opacity: 0.3;
        }

        img {
            max-height: 85px;
            object-fit: contain;
        }
    }
}

section.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    // outline: red 1px solid;
    flex: 0 0 calc(100% - 300px - 3rem);

    section.calculator {
        height: 100%;
        width: 100%;
        overflow:auto;
        // scrollbar-gutter: stable;
        background-color: $body-bg-secondary;
        margin-bottom: 20px;

        &::-webkit-scrollbar {
            background: transparent;
            width: 5px;
            margin: 50px;
        }

        &::-webkit-scrollbar-thumb {
            background: #474747;
            width: 5px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    table.calculator-inner {
        background-color: $body-bg-secondary;
        border-collapse: collapse;
        width: 100%;

        thead {
            background-color: rgb(10.5, 10.5, 10.5);

            th {
                font-weight: normal;
                font-size: 1.5rem;
                padding: 10px 20px;

                &:nth-of-type(1) {
                    width: 15%;
                }

                &:nth-of-type(2) {
                    width: 35%;
                }

                &:nth-of-type(3) {
                    width: calc(50% + 5px);
                }
            }
        }

        tbody {
            tr {
                max-height: 100px;
            }

            td {
                padding: 10px 20px;
                text-align: center;
            }

            td.icon {
                width: 15%;

                img {
                    max-width: 100%;
                }
            }

            td.item-count {
                width: 35%;
            }

            td.logs-count {
                width: calc(50% + 5px);
            }
        }

        input {
            background-color: $body-bg-primary;
            border: none;
            border-bottom: 3px solid #fff;
            font-size: 2rem;
            width: 150px;
            text-align: center;
            color: #fff;
            padding: 15px;

            &[disabled] {
                width: 200px;
            }
        }
    }
}