@use 'partials/var' as *;
@use 'partials/mixins' as *;
@use 'partials/media' as *;
@use 'partials/reset' as *;
@use 'partials/predefined' as *;

// header i footer
// $frame-height: 60px;
// $main-height: calc(100dvh - $frame-height * 2);

header {
    background-color: $body-bg-secondary;

    nav.menu {
        @include flex(center, center, 1rem);
        padding: 15px 30px;
        // height: $frame-height;
    }

    h1 {
        font-size: 1.25rem;
    }

    button {
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 0.3s ease;

        // &.current {
        //     color: $primary;
        //     cursor: auto;
        // }

        span {
            color: $primary;
        }
    }

    @include media(sm) {
        nav.menu {
            @include flex(center, space-evenly);
        }

        button {
            font-size: 1rem;
        }
    }
}

footer {
    @include flex(center, center);
    // height: $frame-height;
    padding: 10px;
    background-color: $body-bg-secondary;

    p {
        font-size: 1rem;
        text-align: center;

        a {
            font-size: 1rem;
            color: $primary;
        }
    }
}

main {
    opacity: 0;
    transition: opacity 0.3s ease;
    opacity: 1;
    flex: 1; // height: $main-height;
    @include flex(center, null, 1.5rem, column);

    h2 {
        margin: 20px 0 20px 0;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;

        span {
            color: $primary;
        }
    }

    @include media(md) {
        // gap: 10px;
        h2 {
            font-size: 1.25rem;
            text-align: left;
        }
    }

    @include media(sm) {
        h2 {
            font-size: 1.1rem;
        }
    }
}

section.items-list-container {
    // opacity: 0;
    // animation: fadeIn 0.3s ease-in-out forwards;

    aside.items-list {
        display: grid;
        grid-template-columns: repeat(10, 100px);
        grid-template-rows: repeat(1, 1fr);
        place-content: center;
        gap: 0 10px;
        // outline: 10px solid red;
    }

    button.item {
        transition: opacity 0.3s ease;
        cursor: pointer;

        &.selected {
            opacity: 0.3;

            p {
                color: $primary;
            }
        }

        img {
            max-width: 80%;
            aspect-ratio: 1;
            object-fit: contain;
        }

        p {
            margin-top: 10px;
            font-size: 1rem;
            transition: color 0.3s ease;
        }
    }

    @include media(xl) {
        aside.items-list {
            grid-template-columns: repeat(5, 100px);
            grid-template-rows: repeat(2, 1fr);
            gap: 15px 10px;
        }
    }

    @include media(md) {
        aside.items-list {
            grid-template-columns: repeat(5, minmax(80px, 1fr));
        }

        button.item {
            img {
                max-width: 90%;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    @include media(sm) {
        aside.items-list {
            grid-template-columns: repeat(5, minmax(75px, 1fr));
            gap: 10px 5px;
        }

        button.item {
            img {
                max-width: 75%;
            }

            p {
                font-size: 0.75rem;
            }
        }
    }

    @include media-custom(412px) {
        aside.items-list {
            grid-template-columns: repeat(5, minmax(50px, 1fr));
            // grid-template-rows: repeat(3, 1fr);

            button.item p {
                display: none;
            }
        }
    }
}

section.calculator-container {
    @include flex(center, null, null, column);
    margin-bottom: 2rem;

    section.calculator {
        box-shadow: $box-shadow;
        max-width: 900px;
        width: 100%;
        background-color: $body-bg-secondary;
        @include flex(center, center, null, column);
        border-radius: 10px;
    }

    article {
        @include flex(center, space-between);
        width: 100%;
        font-size: 1.25rem;

        &.info {
            @include flex(center, center);

            h3 {
                font-size: 1.25rem;
            }
        }

        &.header-row {
            background-color: #0b0b0b;
            border-radius: 10px 10px 0 0;
        }

        div.cell {
            padding: 20px;
            text-align: center;

            &.icon {
                flex: 0 0 20%;
            }

            &.item {
                flex: 0 0 35%;
            }

            &.logs {
                flex: 0 0 45%;
            }

            &.icon:not(.heading) img {
                height: 100px;
                aspect-ratio: 1;
                object-fit: contain;
            }

            &.item:not(.heading),
            &.logs:not(.heading) {
                input {
                    background-color: $body-bg-primary;
                    border: none;
                    border-bottom: 3px solid #fff;
                    font-size: 2rem;
                    width: 150px;
                    text-align: center;
                    color: #fff;
                    padding: 15px;

                    &[disabled] {
                        width: 200px;
                    }
                }
            }
        }
    }

    @include media(xxl) {
        margin-bottom: 0;
    }

    @include media(md) {
        article {
            div.cell {
                padding: 10px;
                &.icon:not(.heading) {
                    img {
                        height: 60px;
                    }

                    p {
                        display: none;
                    }
                }

                &.item:not(.heading) input,
                &.logs:not(.heading) input {
                    font-size: 1.25rem;
                    width: 100px;

                    &[disabled] {
                        width: 120px;
                    }
                }
                &.cell.heading {
                    font-size: 1rem;
                }
            }
        }
    }

    @include media(sm) {
        article {
            div.cell {
                &.icon:not(.heading) {
                    img {
                        height: 60px;
                    }

                    p {
                        display: none;
                    }
                }

                &.item:not(.heading) input,
                &.logs:not(.heading) input {
                    font-size: 1rem;
                    width: 80px;
                    padding: 10px 5px;

                    &[disabled] {
                        width: 100px;
                    }
                }
                &.cell.heading {
                    font-size: 0.9rem;
                }
            }
        }
    }

    @include media-custom(412px) {
        article {
            div.cell {
                &.icon:not(.heading) {
                    img {
                        height: 40px;
                    }

                    p {
                        display: none;
                    }
                }

                &.item:not(.heading) input,
                &.logs:not(.heading) input {
                    // font-size: 0.8rem;
                    width: 80px;

                    &[disabled] {
                        width: 100px;
                    }
                }
            }
        }
    }
}

section.summary-container {
    position: fixed;
    z-index: 10;
    right: 50px;
    bottom: 50px;
    width: 390px;
    aside.all-needed-logs {
        background-color: #000;
        // color: $body-bg-secondary;
        box-shadow: $box-shadow;
        border-radius: 10px;
        padding: 10px 20px;

        h2 {
            text-align: left;
        }
    }

    @include media(xxl) {
        position: static;
        z-index: unset;
        right: unset;
        bottom: unset;
        max-width: 540px;
        width: calc(100% - 20px);

        margin-bottom: calc(2rem);

        aside.all-needed-logs {
            background-color: $body-bg-secondary;
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    @include media(md) {
        // max-width: unset;
        width: 100%;

        aside.all-needed-logs {
            width: 100%;

            h2 {
                font-size: 1rem;
            }
        }
    }
}

// ::-webkit-scrollbar {
//     background: $body-bg-secondary;
//     width: 5px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: #0b0b0b;
//     border-radius: 10px;
//     width: 5px;
// }
